.neon-layer-one {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	filter: blur(1px) drop-shadow(0 0 12px var(--neon-color1));
	z-index: -1;
	inset: 0;
}

.neon-layer-one::before {
	content: "";
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: var(--neon-width);
	height: 100%;
	background: linear-gradient(
		135deg,
		var(--neon-color1),
		var(--neon-color1),
		transparent,
		transparent
	);
}

.neon-layer-two {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	filter: blur(1px) drop-shadow(0 0 12px var(--neon-color2));
	z-index: -1;
	inset: 0;
}

.neon-layer-two::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	width: var(--neon-width);
	height: 100%;
	background: linear-gradient(
		135deg,
		transparent,
		transparent,
		var(--neon-color2),
		var(--neon-color2)
	);
}

@keyframes neon-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.neon-animated {
	animation: neon-rotate var(--neon-duration) linear infinite;
}
